.applicationTitle {
    width: 100%;
    justify-content: center;
}

.logoutDiv {
    margin-left: 16px;
}

.advanceBasicContainer, .displayUser {
    margin-top: 50px;
}

.userStyle {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}